page-realizados {
  .card {
    margin: 0px;
    width: 100%;
  }
  .news-head {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 10px;
  }
  .news-time {
    padding: 0 17px;
    font-size: 10px;
    color: $grey;
  }
  .grid {
    padding: 0px;
    .slides {
      .overlay {
        background-image: linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        );
        display: inline-flex;
      }
      .slider-img {
        height: 260px;
        width: 100%;
        position: relative;
        z-index: -111;
      }
    }
  }
}
